{% extends "layouts/base.html" %}

{% block title %} Data Catalogue {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="card mt-4">
            <div class="card-header p-3">
              <span><h5 class="mb-0" style="display: inline-block;">Data Catalogue</h5></span>
              <span><a href="data-catalogue-add" type="button" style="float: right;" class="btn-add btn bg-gradient-info w-20 my-0 mb-0">Add</a></span>
              <span><button type="button" style="float: right;margin-right: 1em;" class="btn-add btn bg-gradient-secondary w-10 my-0 mb-0" data-bs-toggle="modal" data-bs-target="#excelUploadModal"><i class="material-icons text-sm my-auto me-1">upload</i></button></span>

              <!-- Modal -->
              <div class="modal fade" id="excelUploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h5 class="modal-title" id="exampleModalLabel">Import Data from Excel</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <label class="form-label">Download Data Catalogue Excel file template <a href="#">here <i class="material-icons text-sm my-auto me-1">table</i></a></label>
                      <hr>
                      <form method="post" action="" enctype=multipart/form-data>
                        <label class="form-label">Excel File Path</label>
                        <div class="input-group input-group-outline mb-3">
                          {{ form.excelFilePath(class="form-control") }}
                        </div>
                        <div class="col-auto">
                          <button type="submit" name="excel_upload_button" class="btn btn-primary mb-3">Upload</button>
                        </div>
                      </form>
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                  </div>
                </div>
              </div>

            </div>
            <div class="card-body p-3 pb-0">
              {% if data_catalogue %}
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Attribute Name</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Table Name<br>& Data Type</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Column Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Is Nullable</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Is Primary Key</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Is Foreign Key</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Attribute Sensitivity<br>& Term Source</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Possible Values</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Notes</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created Info</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data_catalogue %}
                    <tr>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{item.attributeName}}</p>
                        <p class="text-xs text-secondary mb-0">{{item.attributeDescription}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{item.tableName}}</p>
                        <p class="text-xs text-secondary mb-0">{{item.columnDatatype}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{item.columnName}}</p>
                        <p class="text-xs text-secondary mb-0">{{item.columnDescription}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {% if item.isNullable == 1 %}
                            Y
                          {% else %}
                            N
                          {% endif %}
                        </p>
                        <p class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {% if item.isPrimaryKey == 1 %}
                            Y
                          {% else %}
                            N
                          {% endif %}
                        </p>
                        <p class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {% if item.isForeignKey == 1 %}
                            Y
                          {% else %}
                            N
                          {% endif %}
                        </p>
                        <p class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{item.attributeSensitivity}}</p>
                        <p class="text-xs text-secondary mb-0">{{item.termSource}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{item.possibleValues}}</p>
                        <p class="text-xs text-secondary mb-0">{{item.valuesDescription}}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{item.notes}}</p>
                        <p class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{item.catalogueAttributeCreatedOn | format_datetime}}</p>
                        <p class="text-xs text-secondary mb-0">{{item.catalogueAttributeCreatedBy}} | {{item.catalogueAttributeUpdatedBy}}</p>
                      </td>
                      
                      <td class="align-middle">
                        <form method="post" action="data-catalogue-edit">
                          <input type="hidden" name="id" value="{{item.id}}"/>
                          <input type="hidden" name="attributeName" value="{{item.attributeName}}"/>
                          <input type="hidden" name="attributeDescription" value="{{item.attributeDescription}}"/>
                          <input type="hidden" name="tableName" value="{{item.tableName}}"/>
                          <input type="hidden" name="columnName" value="{{item.columnName}}"/>
                          <input type="hidden" name="columnDescription" value="{{item.columnDescription}}"/>
                          <input type="hidden" name="columnDatatype" value="{{item.columnDatatype}}"/>
                          <input type="hidden" name="isNullable" value="{{item.isNullable}}"/>
                          <input type="hidden" name="isPrimaryKey" value="{{item.isPrimaryKey}}"/>
                          <input type="hidden" name="isForeignKey" value="{{item.isForeignKey}}"/>
                          <input type="hidden" name="attributeSensitivity" value="{{item.attributeSensitivity}}"/>
                          <input type="hidden" name="termSource" value="{{item.termSource}}"/>
                          <input type="hidden" name="possibleValues" value="{{item.possibleValues}}"/>
                          <input type="hidden" name="valuesDescription" value="{{item.valuesDescription}}"/>
                          <input type="hidden" name="notes" value="{{item.notes}}"/>
                          <input type="hidden" name="catalogueAttributeCreatedOn" value="{{item.catalogueAttributeCreatedOn}}"/>
                          <input type="hidden" name="catalogueAttributeCreatedBy" value="{{item.catalogueAttributeCreatedBy}}"/>
                          <input type="hidden" name="catalogueAttributeUpdatedBy" value="{{item.catalogueAttributeUpdatedBy}}"/>
                          <input type="submit" class="text-secondary font-weight-bold text-xs" value="Edit">
                        </form>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
                <h6 class="text-center">No Data Catalogue terms found yet</h6>
              {% endif %} 
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="position-fixed bottom-1 end-1 z-index-2">
        <div class="toast fade hide p-2 bg-white" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-success me-2">check</i>
            <span class="me-auto font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-gradient-info" role="alert" aria-live="assertive" id="infoToast" aria-atomic="true">
          <div class="toast-header bg-transparent border-0">
            <i class="material-icons text-white me-2">notifications</i>
            <span class="me-auto text-white font-weight-bold">Material Dashboard </span>
            <small class="text-white">11 mins ago</small>
            <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal light m-0">
          <div class="toast-body text-white">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="warningToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-warning me-2">travel_explore</i>
            <span class="me-auto font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="dangerToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-danger me-2">campaign</i>
            <span class="me-auto text-gradient text-danger font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
      </div> -->

    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
