{% extends "layouts/base.html" %}

{% block title %} Data Sets {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="card mt-4">
            <div class="card-header p-3">
              <span><h5 class="mb-0" style="display: inline-block;">Data Set Details</h5></span>
              <span><a href="/data_sets" type="button" style="float: right;" class="btn-add btn bg-gradient-info w-auto my-0 mb-0"><i class="material-icons text-sm my-auto me-1">arrow_back_ios</i></a></span>
              <!-- <span><button type="button" style="float: right;margin-right: 1em;" class="btn-add btn bg-gradient-info w-10 my-0 mb-0" data-bs-toggle="modal" data-bs-target="#deleteDataSetModal">Add<i class="material-icons text-sm my-auto me-1">upload</i></button></span> -->

              <!-- Modal -->
              <div class="modal fade" id="deleteDataSetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <label class="form-label text-center font-weight-bolder">Are you sure?</label>
                      <form method="post" action="">
                        <div class="text-center">
                          {{ form.id(class="form-control") }}
                          <button type="submit" name="delete_data_set" 
                                  class="btn btn-lg bg-gradient-danger btn-lg w-100 mt-4 mb-0">Delete Data Set</button>
                        </div>
                      </form>
                      <button type="submit" data-bs-dismiss="modal" name="close_delete_pop_up" 
                                  class="btn btn-lg bg-gradient-info btn-lg w-100 mt-4 mb-0">Close</button>
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                  </div>
                </div>
              </div>
              <hr>
              <div>
                {% if data_set_details %}
                {% for data_set_detail in data_set_details %}
                <div class="row">
                  <div class="col-6">
                    <span class="col-">
                      <p class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Data Set Name</p>
                    </span>
                    <span>
                      <p class="text-s font-weight-bold">{{data_set_detail.dataSetName}}</p>
                    </span>
                  </div>
                  <div class="col-6">
                    <span class="col-">
                      <p class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Data Set Description</p>
                    </span>
                    <span>
                      <p class="text-s ">{{data_set_detail.dataSetDescription}}</p>
                    </span>
                  </div>
                </div>
                <div class="col-6">
                  <span class="col-">
                    <p class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Data Set Creation Info</p>
                  </span>
                  <span>
                    <p class="text-s font-weight-bold">{{data_set_detail.dataSetCreatedBy}}</p>
                    <p class="text-xs text-secondary mb-0">{{data_set_detail.dataSetCreatedOn | format_datetime}}</p>
                  </span>
                </div>
                <div class="col-6">
                  <span class="col-"><button type="button" class="btn bg-gradient-warning w-auto" data-bs-toggle="modal" data-bs-target="#deleteDataSetModal">Delete Data Set<i class="material-icons text-sm my-auto me-1">delete</i></button></span>
                  <span>
                    <p class="text-s "></p>
                  </span>
                </div>
                {% endfor %}
                {% endif %} 
              </div>
              <hr>
            </div>
            <div class="card-body p-3 pb-0">
              
              <span><h6 class="mb-0" style="display: inline-block;">Data Set Field Details</h6></span>
              {% if data_set_field_names %}
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      {% for data_set_field_name in data_set_field_names %}
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{data_set_field_name[0]}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data_set_display_field_details %}
                    <tr>
                      {% for iterItem in item %}
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{iterItem}}</p>
                        <p class="text-xs text-secondary mb-0"></p>
                      </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
                <h6 class="text-center">No Data Sets added</h6>
              {% endif %} 
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="position-fixed bottom-1 end-1 z-index-2">
        <div class="toast fade hide p-2 bg-white" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-success me-2">check</i>
            <span class="me-auto font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-gradient-info" role="alert" aria-live="assertive" id="infoToast" aria-atomic="true">
          <div class="toast-header bg-transparent border-0">
            <i class="material-icons text-white me-2">notifications</i>
            <span class="me-auto text-white font-weight-bold">Material Dashboard </span>
            <small class="text-white">11 mins ago</small>
            <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal light m-0">
          <div class="toast-body text-white">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="warningToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-warning me-2">travel_explore</i>
            <span class="me-auto font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="dangerToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-danger me-2">campaign</i>
            <span class="me-auto text-gradient text-danger font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
      </div> -->

    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
