{% extends "layouts/base.html" %}

{% block title %} Data Sets {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="card mt-4">
            <div class="card-header p-3">
              <span><h5 class="mb-0" style="display: inline-block;">Search kloudbee</h5></span>
              <div style="float: right;" class="col-auto ms-md-auto pe-md-3 d-flex align-items-center">
                <form method="get" action="" enctype=multipart/form-data>
                  <span class="" style="float: right;">
                    <button type="submit" class="btn btn-info mb-3"><i class="material-icons text-sm my-auto me-1">search</i></button>
                  </span>
                  <span style="float: right;">
                    <div class="input-group input-group-outline"><label class="form-label"></label>{{ search_form.search_query(class="form-control",value=search_query) }}</div>
                  </span>
                </form>
              </div>

            </div>
            <div class="card-body p-3 pb-0">
              <div class="">
                <h5 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Producers</h5>
                {% if data_producers_search and item in data_producers_search%}
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Producer Application Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Line Of Business</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Business Owner Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Technical Owner Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Msg (Batch/APIs/Name)</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type (Batch/APIs/Name)</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created Info</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in data_producers_search %}
                      <tr>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.producerApplicationName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.description}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.lineOfBusiness}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.dataDomain}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.businessOwnerName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.businessOwnerEmail}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.technicalOwnerName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.technicalOwnerEmail}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.msg_batch_apis_name}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.msg_batch_apis_description}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.msg_batch_apis_type}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.dataProducerOn | format_datetime}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.dataProducerBy}}</p>
                        </td>
                        
                        <td class="align-middle">
                          <form method="post" action="data-producer-edit">
                            <input type="hidden" name="id" value="{{item.id}}"/>
                            <input type="hidden" name="producerApplicationName" value="{{item.producerApplicationName}}"/>
                            <input type="hidden" name="description" value="{{item.description}}"/>
                            <input type="hidden" name="lineOfBusiness" value="{{item.lineOfBusiness}}"/>
                            <input type="hidden" name="dataDomain" value="{{item.dataDomain}}"/>
                            <input type="hidden" name="businessOwnerName" value="{{item.businessOwnerName}}"/>
                            <input type="hidden" name="businessOwnerEmail" value="{{item.businessOwnerEmail}}"/>
                            <input type="hidden" name="technicalOwnerName" value="{{item.technicalOwnerName}}"/>
                            <input type="hidden" name="technicalOwnerEmail" value="{{item.technicalOwnerEmail}}"/>
                            <input type="hidden" name="msg_batch_apis_name" value="{{item.msg_batch_apis_name}}"/>
                            <input type="hidden" name="msg_batch_apis_description" value="{{item.msg_batch_apis_description}}"/>
                            <input type="hidden" name="msg_batch_apis_type" value="{{item.msg_batch_apis_type}}"/>
                            <input type="hidden" name="dataProducerOn" value="{{item.dataProducerOn}}"/>
                            <input type="hidden" name="dataProducerBy" value="{{item.dataProducerBy}}"/>
                            <input type="submit" class="text-secondary font-weight-bold text-xs" value="Edit">
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                  <h6 class="text-center">No data producers added</h6>
                {% endif %} 
              </div>
              <hr>
              <div class="">
                <h5 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Consumers</h5>
                {% if data_consumers_search and item in data_consumers_search %}
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Consumer Application Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Line Of Business</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Business Owner Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Technical Owner Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Msg (Batch/APIs/Name)</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type (Batch/APIs/Name)</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created Info</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in data_consumers_search %}
                      <tr>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.consumerApplicationName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.description}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.lineOfBusiness}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.dataDomain}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.businessOwnerName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.businessOwnerEmail}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.technicalOwnerName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.technicalOwnerEmail}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.msg_batch_apis_name}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.msg_batch_apis_description}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.msg_batch_apis_type}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.dataConsumerOn | format_datetime}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.dataConsumerBy}}</p>
                        </td>
  
                        <td class="align-middle">
                          <form method="post" action="data-consumer-edit">
                            <input type="hidden" name="id" value="{{item.id}}"/>
                            <input type="hidden" name="consumerApplicationName" value="{{item.consumerApplicationName}}"/>
                            <input type="hidden" name="description" value="{{item.description}}"/>
                            <input type="hidden" name="lineOfBusiness" value="{{item.lineOfBusiness}}"/>
                            <input type="hidden" name="dataDomain" value="{{item.dataDomain}}"/>
                            <input type="hidden" name="businessOwnerName" value="{{item.businessOwnerName}}"/>
                            <input type="hidden" name="businessOwnerEmail" value="{{item.businessOwnerEmail}}"/>
                            <input type="hidden" name="technicalOwnerName" value="{{item.technicalOwnerName}}"/>
                            <input type="hidden" name="technicalOwnerEmail" value="{{item.technicalOwnerEmail}}"/>
                            <input type="hidden" name="msg_batch_apis_name" value="{{item.msg_batch_apis_name}}"/>
                            <input type="hidden" name="msg_batch_apis_description" value="{{item.msg_batch_apis_description}}"/>
                            <input type="hidden" name="msg_batch_apis_type" value="{{item.msg_batch_apis_type}}"/>
                            <input type="hidden" name="dataProducerOn" value="{{item.dataConsumerOn}}"/>
                            <input type="hidden" name="dataProducerBy" value="{{item.dataConsumerBy}}"/>
                            <input type="submit" class="text-secondary font-weight-bold text-xs" value="Edit">
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                  <h6 class="text-center">No data producers added</h6>
                {% endif %} 
              </div>
              <hr>
              <div class="">
                <h5 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Business Glossary</h5>
                {% if business_glossary_search and item in business_glossary_search %}
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Business Glossary Term</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Business Domain</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Term Source</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Business Steward</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created Info</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in business_glossary_search %}
                      <tr>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.businessGlossaryTerm}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.businessDefinition}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.businessDomain}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.termSource}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.dataDomain}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.businessSteward}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.businessGlossaryOn | format_datetime}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.businessGlossaryBy}}</p>
                        </td>
                        
                        <td class="align-middle">
                          <form method="post" action="business-glossary-edit">
                            <input type="hidden" name="id" value="{{item.id}}"/>
                            <input type="hidden" name="businessGlossaryTerm" value="{{item.businessGlossaryTerm}}"/>
                            <input type="hidden" name="businessDefinition" value="{{item.businessDefinition}}"/>
                            <input type="hidden" name="businessDomain" value="{{item.businessDomain}}"/>
                            <input type="hidden" name="termSource" value="{{item.termSource}}"/>
                            <input type="hidden" name="dataDomain" value="{{item.dataDomain}}"/>
                            <input type="hidden" name="businessSteward" value="{{item.businessSteward}}"/>
                            <input type="hidden" name="businessGlossaryOn" value="{{item.businessGlossaryOn}}"/>
                            <input type="hidden" name="businessGlossaryBy" value="{{item.businessGlossaryBy}}"/>
                            <input type="submit" class="text-secondary font-weight-bold text-xs" value="Edit">
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                  <h6 class="text-center">No Business Glossary terms found</h6>
                {% endif %} 
              </div>
              <hr>
              <div class="">
                <h5 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Catalogue</h5>
                {% if data_catalogue_search and item in data_catalogue_search %}
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Attribute Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Table Name<br>& Data Type</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Column Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Is Nullable</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Is Primary Key</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Is Foreign Key</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Attribute Sensitivity<br>& Term Source</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Possible Values</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Notes</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created Info</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in data_catalogue_search %}
                      <tr>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.attributeName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.attributeDescription}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.tableName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.columnDatatype}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.columnName}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.columnDescription}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">
                            {% if item.isNullable == 1 %}
                              Y
                            {% else %}
                              N
                            {% endif %}
                          </p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">
                            {% if item.isPrimaryKey == 1 %}
                              Y
                            {% else %}
                              N
                            {% endif %}
                          </p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">
                            {% if item.isForeignKey == 1 %}
                              Y
                            {% else %}
                              N
                            {% endif %}
                          </p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.attributeSensitivity}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.termSource}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.possibleValues}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.valuesDescription}}</p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.notes}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.catalogueAttributeCreatedOn | format_datetime}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.catalogueAttributeCreatedBy}} | {{item.catalogueAttributeUpdatedBy}}</p>
                        </td>
                        
                        <td class="align-middle">
                          <form method="post" action="data-catalogue-edit">
                            <input type="hidden" name="id" value="{{item.id}}"/>
                            <input type="hidden" name="attributeName" value="{{item.attributeName}}"/>
                            <input type="hidden" name="attributeDescription" value="{{item.attributeDescription}}"/>
                            <input type="hidden" name="tableName" value="{{item.tableName}}"/>
                            <input type="hidden" name="columnName" value="{{item.columnName}}"/>
                            <input type="hidden" name="columnDescription" value="{{item.columnDescription}}"/>
                            <input type="hidden" name="columnDatatype" value="{{item.columnDatatype}}"/>
                            <input type="hidden" name="isNullable" value="{{item.isNullable}}"/>
                            <input type="hidden" name="isPrimaryKey" value="{{item.isPrimaryKey}}"/>
                            <input type="hidden" name="isForeignKey" value="{{item.isForeignKey}}"/>
                            <input type="hidden" name="attributeSensitivity" value="{{item.attributeSensitivity}}"/>
                            <input type="hidden" name="termSource" value="{{item.termSource}}"/>
                            <input type="hidden" name="possibleValues" value="{{item.possibleValues}}"/>
                            <input type="hidden" name="valuesDescription" value="{{item.valuesDescription}}"/>
                            <input type="hidden" name="notes" value="{{item.notes}}"/>
                            <input type="hidden" name="catalogueAttributeCreatedOn" value="{{item.catalogueAttributeCreatedOn}}"/>
                            <input type="hidden" name="catalogueAttributeCreatedBy" value="{{item.catalogueAttributeCreatedBy}}"/>
                            <input type="hidden" name="catalogueAttributeUpdatedBy" value="{{item.catalogueAttributeUpdatedBy}}"/>
                            <input type="submit" class="text-secondary font-weight-bold text-xs" value="Edit">
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                  <h6 class="text-center">No Data Catalogue terms added</h6>
                {% endif %} 
              </div>
              <hr>
              <div class="">
                <h5 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Sets</h5>
                {% if data_sets_search and item in data_sets_search%}
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Set Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data Set Description</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Created Info</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in data_sets_search %}
                      <tr>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.dataSetName}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.dataSetDescription}}</p>
                          <p class="text-xs text-secondary mb-0"></p>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{item.dataSetCreatedOn | format_datetime}}</p>
                          <p class="text-xs text-secondary mb-0">{{item.dataSetCreatedBy}}</p>
                        </td>
                        
                        <td class="align-middle">
                          <a type="button" class="btn-view btn bg-gradient-info" href="data_set/{{item.id}}"><i class="material-icons text-sm my-auto">visibility</i></a>
                          <!-- <button type="button" class="btn-delete btn bg-gradient-warning"><i class="material-icons text-sm my-auto">delete</i></button> -->
                          <!-- <form method="post" action="data-set-edit">
                            <input type="hidden" name="id" value="{{item.id}}"/>
                            <input type="hidden" name="dataSetName" value="{{item.dataSetName}}"/>
                            <input type="hidden" name="dataSetDescription" value="{{item.dataSetDescription}}"/>
                            <input type="hidden" name="dataSetCreatedOn" value="{{item.dataSetCreatedOn}}"/>
                            <input type="hidden" name="dataSetCreatedBy" value="{{item.dataSetCreatedBy}}"/>
                            <input type="submit" class="text-secondary font-weight-bold text-xs" value="Edit">
                          </form> -->
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                  <h6 class="text-center">No Data Sets added</h6>
                {% endif %} 
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <!-- <div class="position-fixed bottom-1 end-1 z-index-2">
        <div class="toast fade hide p-2 bg-white" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-success me-2">check</i>
            <span class="me-auto font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-gradient-info" role="alert" aria-live="assertive" id="infoToast" aria-atomic="true">
          <div class="toast-header bg-transparent border-0">
            <i class="material-icons text-white me-2">notifications</i>
            <span class="me-auto text-white font-weight-bold">Material Dashboard </span>
            <small class="text-white">11 mins ago</small>
            <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal light m-0">
          <div class="toast-body text-white">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="warningToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-warning me-2">travel_explore</i>
            <span class="me-auto font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
        <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="dangerToast" aria-atomic="true">
          <div class="toast-header border-0">
            <i class="material-icons text-danger me-2">campaign</i>
            <span class="me-auto text-gradient text-danger font-weight-bold">Material Dashboard </span>
            <small class="text-body">11 mins ago</small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
          </div>
          <hr class="horizontal dark m-0">
          <div class="toast-body">
            Hello, world! This is a notification message.
          </div>
        </div>
      </div> -->

    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
